/*font-family: 'Handlee', cursive;*/
/*font-family: 'Yellowtail', cursive;*/
/*font-family: 'Playball', cursive;*/
/*font-family: 'Reenie Beanie', cursive;*/
/*font-family: 'Oleo Script', cursive;*/




.handlee {
    font-family: 'Handlee', cusive;
    color: #595959;
}
.yellowtail {
    font-family: 'Yellowtail', cusive;
    color: #966F00;
}

.playball {
    font-family: 'Playball', cusive;
    color: #771D99;
}
.reenie {
    font-family: 'Reenie Beanie', cusive;
}
.oleo {
    font-family: 'Oleo Script', cusive;
    color: #966F00;
}

.nav-item {
    color: #966F00;
}
.navbar-brand {
    font-size: 1.5em;
    font-family: 'Oleo Script', cusive;
    color: #966F00;
}

.blackbox {
    border: solid 1px grey;
    padding: 10px;
}
.newimage{
    height: 300px;
}

.foods{
    font-size: 10em;
}
.recipe_pic{
    width: 350px;
    height: 450px;
}
.jumbo_form{
    /*height: 200px;*/
    color: white;
    padding: 20px;
    background-image: url('../images/jumbopic3.jpg');
    background-size: cover;
}
.jumbotron{
    color: white;
    background-image: url('../images/jumbopic3.jpg');
    background-size: cover;
}
.footer{
    background-color: lightgrey;
    margin-top: 20px;
}
.myChart{
    width: 250px;
    height: 200px
}
h1{
    font-family: 'Oleo Script', cursive;
}
/*h2{*/
/*    font-family: 'Playball', cursive;*/
/*}*/
#allergens{
    color: red;
}
.sub{
    background-color: rgb(0,0,0,0.5);
    font-size: 1.3em;
}


/*==================================================
=            Bootstrap 4 Media Queries             =
==================================================*/
/* Ultra Large desktops and laptops */
@media (min-width: 1501px) {
/* css specific properties col-lg-**/
  .recipe_pic{
    width: 350px;
    height: 450px;
}
}


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width:1500px) {
/* css specific properties col-lg-**/
  .recipe_pic{
    width: 350px;
    height: 450px;
}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
/* css specific properties col-md-**/
  .recipe_pic{
    width: 350px;
    height: 450px;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
/* css specific properties col-sm-**/
  .recipe_pic{
    width: 300px;
    height: 380px;
 }
 h2{
     font-size: 1.5em;
 }
 .card{
     width: 9rem;
 }
 
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
/* css specific properties col-xs-**/
  .recipe_pic{
    width: 300px;
    height: 380px;
 }
 h2{
     font-size: 1.5em;
 }
 .card{
     width: 9rem;
 }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
 h1{
    font-size: 2em;
 }
 h2{
     font-size: 1.5em;
 }
 .recipe_pic{
    width: 300px;
    height: 380px;
 }
 .card{
     width: 9rem;
 }
}
/* css specific properties col-xs-* or none for default*/