{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">All Our Recipes <br>In One Place!</h1>
        <span class='sub'>Take a look, get inspired, 
       <br>try something new everyday.</span>
    </div>
    <div class='row mt-3'>
    {% if allrecipes%}
      {% for item in allrecipes %}
        <div class="card text-center mb-3 col-lg-3 col-md-4 col-sm-6 col-12" style="width: 9rem;">
          <img class="card-img-top image-fluid" src="{{item.images_small}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.recipe_name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <a href="{{ url_for('show_recipe', item_id=item._id) }}" class="btn btn-primary">View Recipe</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    </div>
</div>


{% endblock %}