{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <header class=" row newimage blackbox"><h3>big header with picture, recipe of the day</h3></header>
    <section class="row blackbox">
        <article class="col-md-8 col-lg-8 blackbox">
            <h3>this is the news</h3>
            <div class="row blackbox">
                <h3>title</h3>
                <p>article1</p>
            </div>
            <div class="row blackbox">
                <h3>title</h3>
                <p>article2</p>
            </div>
        </article>
        <aside class="col-md-4 col-lg-4 blackbox">
            <h3>selected recipes</h3>
            <div class="row blackbox">
                <h3>recipe</h3>
            </div>
            <div class="row blackbox">
                <h3>recipe</h3>
            </div>
            <div class="row blackbox">
                <h3>recipe</h3>
            </div>
            <div class="row blackbox">
                <h3>recipe</h3>
            </div>
        </aside>
    </section>
</div>


{% endblock %}