{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, <br>Welcome to Kimberleys Cook Book!</h1>
        <span class='sub'>Come in and check some very good food recipes, 
        leave some of your own creation Chef!. <br>Share with the world your talent. </span>
    </div>
    
    <!--  testing typography  -->
    <!--<div><h1 class='handlee'>Kimberley's Cook Book </h1></div>-->
    <!--<div><h1 class='yellowtail'>Kimberley's Cook Book </h1></div>-->
    <!--<div><h1 class='playball'>Kimberley's Cook Book </h1></div>-->
    <!--<div><h1 class='reenie'>Kimberley's Cook Book </h1></div>-->
    <!--<div><h1 class='oleo'>Kimberley's Cook Book</h1></div>-->
</div>


{% endblock %}