{% extends 'base.html' %} 

{% block content %}

<!--            HEADER                   -->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
    <form class='row' action="{{ url_for('check_author') }}" method="POST">
      <div class='col-lg-10 col-md-10 col-sm-12'>
            <div class='form-row'>
              <div class="col">
                  <input class="form-control" type="text"  name="author" id="author_name" required/>
                  <label for="author_name">Author First Name</label>
              </div>
              <div class="col">
                  <input class="form-control" type="text" name="dob" id="author_dob" required/>
                  <label for="author">Author D.O.B</label>
              </div>
            </div>
          </div>
          <!--this submit should update this page with the results
          code in the application should redirect to the same page after validation
          to show results -->
        <div>
          <button class="form-control btn btn-primary" type="submit">Search</button>
        </div>
      </form>
      
      <div class='row'>
        {% if searchfile %}
        <h2>Welcome {{authorName}}</h2>
        {% endif %}
      </div>
      
      
      <div>
        <div class='row'>
          {% for item in searchfile %}
          <div class='col-lg-4 col-md-4 col-sm-4' >
            <div class="card" style="width: 18rem;">
              <img class="card-img-top image-fluid" src="{{item.images_small}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{item.recipe_name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a href="{{url_for('edit_recipe', item_id=item._id)}}" class="btn btn-primary">Edit</a>
                <a href="{{url_for('delete_recipe', item_id=item._id, author=author, dob=dob)}}" class="btn btn-primary">Delete</a>
              </div>
          </div>
          </div>
          
          {% endfor %}
        </div>
      </div>
</div>

{% endblock %}

