{% extends 'base.html' %} 

{% block content %}


<!--            HEADER                   -->
<div class="container">
    <div class="jumbotron jumbo_form" >
      <h1 class="display-4">Start your own book and share with us!</h1>
      <p class="lead">Your first name and DOB will help you edit your recipes in the future!</p>
    </div>
    
      <form class='row' action="{{ url_for('insert_recipe') }}" method="POST">
          <!-- changing url for depending of application {{ url_for('insert_recipe') }}-->
        <div class='col-lg-10 col-md-9 col-sm-12'>
          <div class='form-row'>
            <div class="col">
              <label for="author_name">Author First Name</label>
              <input class="form-control" type="text"  name="author_name" id="author_name" required/>
            </div>
            <div class="col">
              <label for="author_dob">D.O.B or Password</label>
              <input class="form-control" type="text" name="author_dob" id="author_dob" placeholder="DD/MM/YY or Password" required/>
            </div>
          </div>
          <div class='form-row'>
            <div class="col">
              <label for="recipe_name">Recipe Name</label>
              <input class="form-control" type="text"  name="recipe_name" id="recipe_name" required/>
            </div>
            <div class="col">
              <label for="recipe_description">Description</label>
              <input class="form-control" type="text" name="recipe_description" id="recipe_description"/>
              </div>
          </div>
          <div class='form-row'>
            <div class="col-lg-4 col-sm-12">
              <label>Cuisine Type</label>
              <select class="form-control" name="cuisine_name" id="cuisine">
                    <option value="" disabled selected>Choose Cuisine</option>
                    {% for item in cuisine %}
                    <option value="{{item.cuisine}}">{{item.cuisine}}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="col col-lg-4 col-sm-12">
              <label for="serves">Serves</label>
              <input class="form-control" type="number" name="serves" id="serves" required/>
            </div>
            <div class="col col-lg-4 col-sm-12">
              <label for="cooking_time">Cooking Time in Minuntes</label>
              <input class="form-control" type="number"  name="cooking_time" id="cooking_time" required/>
            </div>
          </div>
          <div class='form-row'>
            <div class="form-group col">
              <label for="ingredients">Ingredients</label>
              <textarea class="form-control" id="ingredients" name='ingredients' rows="5"></textarea>
            </div>
            <div class="form-group col">
                <label for="method">Method</label>
                <textarea class="form-control" id="method" name='method' rows="5"></textarea>
              </div>
          </div>
        </div>
        <div class='col-lg-2 col-md-3 col-sm-12 blackbox' >
          <h3 id='allergens'>Allergens!</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="crustaceans1" value="crustaceans" id="crustaceans"/>
            <label class="form-check-label" for="crustaceans">Crustaceans</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="gluten1" value="gluten" id="gluten"/>
            <label class="form-check-label" for="gluten">Gluten</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="milk1" value="milk" id="milk"/>
            <label class="form-check-label" for="milk">Milk</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="eggs1" value="eggs" id="eggs"/>
            <label class="form-check-label" for="eggs">Eggs</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="fish1" value="fish" id="fish"/>
            <label class="form-check-label" for="fish">Fish</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="celery1" value="celery" id="celery"/>
            <label class="form-check-label" for="celery">Celery</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="mollucs1" value="mollucs" id="mollucs"/>
            <label class="form-check-label" for="mollucs">Mollucs</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="nuts1" value="nuts" id="nuts"/>
            <label class="form-check-label" for="nuts">Nuts</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="peanuts1" value="peanuts" id="peanuts"/>
            <label class="form-check-label" for="peanuts">Peanuts</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="mustard1" value="mustard" id="mustard"/>
            <label class="form-check-label" for="mustard">Mustard</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sesame1" value="sesame" id="sesame"/>
            <label class="form-check-label" for="sesame">Sesame Seeds</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sulphites1" value="sulphites" id="sulphites" />
            <label class='form-check-label' for="sulphites">Sulphites</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="soya1" value="soya" id="soya"/>
            <label class='form-check-label' for="soya">Soya</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="lupin1" value="lupin" id="lupin" />
            <label class='form-check-label' for="lupin">Lupin</label>
          </div>
        </div>
        <div class="col-12">
          <button class="form-control btn btn-primary" type="submit">Add Recipe</button>
        </div>
      </form>
</div>

{% endblock %}

