{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <h1>Recipe page</h1>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 blackbox">
            <div class="col">
                <div class="newimage">IMAGE</div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 blackbox">
            <div class="row blackbox"><p>this is TITTLES block</p></div>
            <div class="row blackbox"><p>this is ALLERGENS</p></div>
            <div class="row blackbox"><p>this is GRAPHS</p></div>
            
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 blackbox">
            <p>this is INGREDIENTS</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 blackbox">
            <p>this is the METHOD block</p>
        </div>
    </div>
</div>


{% endblock %}