{% extends 'base.html' %} 

{% block content %}

<!--            HEADER                   -->

<div class="container">
  
    <header class="jumbotron jumbo_form">
      <h1 class="display-4">Search Recipes</h1>
      <span class='sub'>Search by author or if you want to jump any recipes by allergen, maybe you just want
      one type of cuisine.</span>
    </header>
    
   
    
    <!--  search forms   -->
    
    
    <section class="row blackbox">
      <form class="col-lg-4 mb-3" action="{{ url_for('search_recipe_author') }}" method="POST">
        <label for="author_name">Author First Name</label>
        <input class="form-control" type="text"  name="author" id="author_name"/>
        <button class="form-control btn btn-primary" type="submit">Search</button>
      </form>
      <form class='col-lg-4 mb-3' action="{{ url_for('search_recipe_allergen') }}" method="POST">
        <label for="allergens">Filter your allergen</label>
        <input class="form-control" type="text"  name="allergen" id="allergen"/>
        <button class="form-control btn btn-primary" type="submit">Search</button>
      </form>
      <form class="col-lg-4 mb-3" action="{{ url_for('search_recipe_cuisine') }}" method="POST">
        <label>Cuisine Type</label>
        <select class="form-control" name="cuisine" id="cuisine">
          <option value="" disabled selected>Cuisine</option>
          {% for item in cuisine %}
          <option value="{{item.cuisine}}">{{item.cuisine}}</option>
          {% endfor %}
        </select>
        <button class="form-control btn btn-primary" type="submit">Search</button>
      </form>
    </section>
    
  <article class='row mt-3'>
  {% if searchAuthor%}
  {% for item in searchAuthor %}
    <div class="card text-center mb-3 col-lg-3 col-md-4 col-sm-6 col-12" style="width: 9rem;">
      <img class="card-img-top image-fluid" src="{{item.images_small}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.recipe_name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <a href="{{ url_for('show_recipe', item_id=item._id) }}" class="btn btn-primary">View Recipe</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
  </article>
  
  <article class='row'>
  {% if searchAllergen%}
  {% for item in searchAllergen %}
    <div class="card text-center mb-3 col-lg-3 col-md-4 col-sm-6 col-12" style="width: 9rem;">
      <img class="card-img-top image-fluid" src="{{item.images_small}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.recipe_name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <a href="{{ url_for('show_recipe', item_id=item._id) }}" class="btn btn-primary">View Recipe</a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </article>
    
    
  <article class='row'>
  {% if searchCuisine%}
  {% for item in searchCuisine %}
    <div class="card text-center mb-3 col-lg-3 col-md-4 col-sm-6 col-12" style="width: 9rem;">
      <img class="card-img-top image-fluid" src="{{item.images_small}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.recipe_name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <a href="{{ url_for('show_recipe', item_id=item._id) }}" class="btn btn-primary">View Recipe</a>
        </div>
    </div>
     {% endfor %}
    {% endif %}
  </article>
</div>

{% endblock %}

