{% extends 'base.html' %} 

{% block content %}

<!--            HEADER                   -->

<div class="container">
  
    <div class="jumbotron jumbo_form">
      <h1 class="display-4">Search Recipes</h1>
      <span class='sub'>Search by author or if you want to jump any recipes by allergen, maybe you just want
      one type of cuisine.</span>
    </div>
    
    <!-- graphs -->
    <!--<div class='row blackbox mb-2'>-->
    <!--  <canvas id="myChart"></canvas>-->
    <!--  <script type="text/javascript" src="{{url_for('static', filename='js/file.js')}}"></script>-->
    <!--    <script>-->
    <!--      function graphs(){-->
    <!--        var listof = myDict-->
          
    <!--        var ctx = document.getElementById("myChart").getContext('2d');-->
    <!--        var myChart = new Chart(ctx, {-->
    <!--            type: 'horizontalBar',-->
    <!--            data: {-->
    <!--                labels: myarray,-->
    <!--                datasets: [{-->
    <!--                    label: '# of Recipes per Author',-->
    <!--                    data: listof,-->
    <!--                    backgroundColor: [-->
    <!--                        'rgba(255, 99, 132, 0.2)',-->
    <!--                        'rgba(255, 99, 132, 0.2)',-->
    <!--                        'rgba(255, 99, 132, 0.2)',-->
    <!--                        'rgba(255, 99, 132, 0.2)',-->
    <!--                        'rgba(255, 99, 132, 0.2)',-->
    <!--                        'rgba(255, 99, 132, 0.2)'-->
    <!--                    ],-->
    <!--                    borderColor: [-->
    <!--                        'rgba(255, 99, 132, 0.2)',-->
    <!--                        'rgba(255, 99, 132, 0.2)',-->
    <!--                        'rgba(255, 99, 132, 0.2)',-->
    <!--                        'rgba(255, 99, 132, 0.2)',-->
    <!--                        'rgba(255, 99, 132, 0.2)',-->
    <!--                        'rgba(255, 99, 132, 0.2)'-->
    <!--                    ],-->
    <!--                    borderWidth: 1-->
    <!--                }]-->
    <!--            },-->
    <!--            options: {-->
    <!--                scales: {-->
    <!--                    yAxes: [{-->
    <!--                        ticks: {-->
    <!--                            beginAtZero:true-->
    <!--                        }-->
    <!--                    }]-->
    <!--                }-->
    <!--            }-->
    <!--        });-->
    <!--      }-->
    <!--       graphs();-->
    <!--    </script>-->
    <!--    </div>-->
        
    
    
    
    <!--  search forms   -->
    
    
    <div class="row blackbox">
      <form class='col' action="{{ url_for('search_recipe_author') }}" method="POST">
      <div class='col-lg-6 col-md-6 col-sm-6'>
            <div class='form-row'>
              <div class="col">
                  <input class="form-control" type="text"  name="author" id="author_name"/>
                  <label for="author_name">Author First Name</label>
              </div>
              <button class="form-control btn btn-primary" type="submit">Search</button>
            </div>
          </div>
          <!--this submit should update this page with the results
          code in the application should redirect to the same page after validation
          to show results -->
    </form>
      <form class='col' action="{{ url_for('search_recipe_allergen') }}" method="POST">
      <div class='col-lg-6 col-md-6 col-sm-6'>
            <div class='form-row'>
              <div class="col">
                  <input class="form-control" type="text"  name="allergen" id="allergen"/>
                  <label for="allergens">filter your allergen</label>
              </div>
              <button class="form-control btn btn-primary" type="submit">Search</button>
            </div>
          </div>
    </form>
      <form class='col' action="{{ url_for('search_recipe_cuisine') }}" method="POST">
      <div class="col-lg-6 col-md-6 col-sm-6">
            <select class="form-control" name="cuisine" id="cuisine">
            <option value="" disabled selected>Cuisine</option>
            {% for item in cuisine %}
            <option value="{{item.cuisine}}">{{item.cuisine}}</option>
            {% endfor %}
            </select>
            <label>Cuisine<br>Type</label>
            <button class="form-control btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    </div>
    
    
    <div>
        <div class='row mt-3'>
            {% if searchAuthor%}
              {% for item in searchAuthor %}
              <div class='col-lg-4 col-md-4 col-sm-4' >
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top image-fluid" src="{{item.images_small}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{item.recipe_name}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <a href="{{ url_for('show_recipe', item_id=item._id) }}" class="btn btn-primary">View Recipe</a>
                  </div>
              </div>
              </div>
              {% endfor %}
            {% endif %}
        </div>
        <div class='row'>
            {% if searchAllergen%}
          {% for item in searchAllergen %}
          <div class='col-lg-4 col-md-4 col-sm-4' >
            <div class="card" style="width: 18rem;">
              <img class="card-img-top image-fluid" src="{{item.images_small}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{item.recipe_name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a href="{{ url_for('show_recipe', item_id=item._id) }}" class="btn btn-primary">View Recipe</a>
              </div>
          </div>
          </div>
          
          {% endfor %}
          {% endif %}
        </div>
        <div class='row'>
            {% if searchCuisine%}
          {% for item in searchCuisine %}
          <div class='col-lg-4 col-md-4 col-sm-4' >
            <div class="card" style="width: 18rem;">
              <img class="card-img-top image-fluid" src="{{item.images_small}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{item.recipe_name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a href="{{ url_for('show_recipe', item_id=item._id) }}" class="btn btn-primary">View Recipe</a>
              </div>
          </div>
          </div>
          
          {% endfor %}
          {% endif %}
        </div>
      </div>

    
</div>

{% endblock %}

