<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Covered+By+Your+Grace|Nothing+You+Could+Do|Rock+Salt" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<style>

</style>


</head>
<body>

<!--            NAVBAR                   -->



<!--            HEADER                   -->
<div class="container">
    <h3>Add recipe</h3>

<div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST">
        
        <div class="row">
            <div class="col-6">
              <input class="form-control" type="text"  name="task_name" id="task_name"/>
              <label for="task_name">Task name</label>
            </div>
            <div class="col-6">
              <input class="form-control" type="text" name="task_description" id="task_description"/>
              <label for="task_description">Task Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
              <input class="form-control" type="radio" id="radio1" name="radio" value="radio1">
              <label for="radio1">Huey</label>
            </div>
            <div class="col-2">
              <input class="form-control" type="radio" id="radio2" name="radio" value="radio2">
              <label for="radio2">Huey1</label>
            </div>
            <!--<div class="col-2">-->
            <!--  <input class="form-control" type="checkbox" name="checkboxes" value='oniiy' id="boolfin"/>-->
            <!--  <label for="boolfin">boolfin</label>-->
            <!--</div>-->
            <div class="col-2">
              <input class="form-control" type="checkbox" name="milk1" value="milk" id="milk" checked="checked" />
              <label for="milk">milk</label>
            </div>
            <div class="col-2">
              <input class="form-control" type="checkbox" name="celery1" value="celery" class="filled-in" id="celery"/>
              <label for="celery">celery</label>
            </div>
            <div class="col-2">
              <input class="form-control" type="checkbox" name="mollucs1" value="mollucs" id="mollucs" />
              <label for="mollucs">mollucs</label>
            </div>
            <div class="col-2">
              <input class="form-control" type="checkbox" name="nuts1" value="nuts" id="nuts"/>
              <label for="nuts">nuts</label>
            </div>
            <div class="col-2">
              <input class="form-control" type="checkbox" name="sulfites1" value="sulfites" id="sulfites" />
              <label for="sulfites">sulfites</label>
            </div>
        </div>
        <div class="row">
             <button class="form-control btn btn-primary" type="submit">Add info</button>
        
        </div>
    </form>
    
  </div>
</div>


<!--            SECTION                   -->





<!-- Scripts for bootstrap components -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>