{% extends 'base.html' %} 

{% block content %}


<!--            HEADER                   -->
<div class="container text-center">
  <div><h1 class='handlee'>Kimberley's Cook Book </h1></div>
        <div><h1 class='yellowtail'>Kimberley's Cook Book </h1></div>
        <div><h1 class='playball'>Kimberley's Cook Book </h1></div>
        <div><h1 class='reenie'>Kimberley's Cook Book </h1></div>
        <div><h1 class='oleo'>Kimberley's Cook Book</h1></div>
    <div class='row'>
        
    </div>
    
    <div>
    <form action="{{ url_for('insert_recipe') }}" method="POST">
        
    <div>
        <div class="form-group row">
              <input class="form-control" type="text"  name="task_name" id="task_name"/>
              <label for="task_name">Task name</label>
            </div>
        <div class="form-group row">
              <input class="form-control" type="text" name="task_description" id="task_description"/>
              <label for="task_description">Task Description</label>
        </div>
    </div>
    <div class='row'>
            <div class="form-check col-2">
              <input class="form-control" type="radio" id="radio1" name="radio" value="radio1">
              <label for="radio1">Huey</label>
            </div>
            <div class="form-check col-2">
              <input class="form-control" type="radio" id="radio2" name="radio" value="radio2">
              <label for="radio2">Huey1</label>
            </div>
            <!--<div class="col-2">-->
            <!--  <input class="form-control" type="checkbox" name="checkboxes" value='oniiy' id="boolfin"/>-->
            <!--  <label for="boolfin">boolfin</label>-->
            <!--</div>-->
            <div class="form-check col-2">
              <input class="form-control" type="checkbox" name="milk1" value="milk" id="milk" checked="checked" />
              <label for="milk">milk</label>
            </div>
            <div class="form-check col-2">
              <input class="form-control" type="checkbox" name="celery1" value="celery" class="filled-in" id="celery"/>
              <label for="celery">celery</label>
            </div>
            <div class="form-check col-2">
              <input class="form-control" type="checkbox" name="mollucs1" value="mollucs" id="mollucs" />
              <label for="mollucs">mollucs</label>
            </div>
            <div class="form-check col-2">
              <input class="form-control" type="checkbox" name="nuts1" value="nuts" id="nuts"/>
              <label for="nuts">nuts</label>
            </div>
            <div class="form-check col-2">
              <input class="form-control" type="checkbox" name="sulfites1" value="sulfites" id="sulfites" />
              <label for="sulfites">sulfites</label>
            </div>
        </div>
    <div>
    <button class="form-control btn btn-primary" type="submit">Add info</button>
    </div>
    
    </form>
</div>
<div class='row'>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
<div class="container" id="formContainer">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control form-control-lg" type="text" id="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control form-control-lg" type="email" id="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="event">Type of Event</label>
            <select class="form-control" id="event">
                <option>--</option>
                <option>Private Party</option>
                <option>Wedding</option>
            </select>
        </div>
        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" id="message" rows="5"></textarea>
        </div>
        <button class="btn btn-info btn-block" type="submit">Submit</button>
    </form>
</div>

{% endblock %}

